<h2 class="text-primary">Welcome to Ember</h2>

<div style="font-size: 40px">
  <span class="glyphicon glyphicon-star"></span>
</div>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Button with data-target
</button>

<div class="collapse" id="collapseExample">
  <div class="well">

    Anim pariatur cliche reprehenderit, enim eiusmod high life
    accusamus terry richardson ad squid. Nihil anim keffiyeh
    helvetica, craft beer labore wes anderson cred nesciunt sapiente
    ea proident.

  </div>
</div>